#home{
    background-image: url(./photos/b4.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#nature{
    background-image: url(./photos/b8.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}